.title{
    font-family: 'Cabin', sans-serif;
    color: white;
}

.row{
    padding: 50px;
}

.card{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
    width: 90vh;
    font-family: 'Cabin', sans-serif;
    font-size:small;
    
}

.card-container{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}


.container-gen{
    display: flex;

}


